# Default values for docreader.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicas: 1

image:
  # Image is also available at the registry.connect.redhat.com/regulaforensics/docreader repository
  repository: regulaforensics/docreader
  # Overrides the image tag whose default is the chart appVersion.
  tag: ~
  pullPolicy: Always
imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # Note, the "requests" section specifies the minimum resources required to run 1 pod with 1 worker on board.
  # Thus setting more workers would require to multiply resources respectively.
  # Also, the resources (both requests and limits) section is mandatory for autoscaling
  # limits:
  #   cpu: 2000m
  #   memory: 2Gi
  # requests:
  #   cpu: 1000m
  #   memory: 2Gi

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1001

podSecurityContext:
  fsGroup: 0

priorityClassName: ~

terminationGracePeriodSeconds: ~

lifecycle: {}
  # preStop:
  #   exec:
  #     command: ["/bin/sh", "-c", "sleep 45"]

nodeSelector: {}

affinity: {}

tolerations: []

topologySpreadConstraints: []

podAnnotations: {}

# Docreader pod disruption budget
podDisruptionBudget:
  enabled: false
  # PDB configuration
  config:
    # minAvailable and maxUnavailable cannot be both set
    maxUnavailable: 1
    minAvailable: ~

# Supply the name of existing secret with the regula.license file.
# You can load it to a k8s generic secret via the following command:
# `kubectl create secret generic docreader-license -n <namespace> --from-file=regula.license`
#
# licenseSecretName: docreader-license
licenseSecretName: ~

config:
  sdk:
    systemInfo:
      # Returns system information in the /api/ping response and in the /api/process response.
      returnSystemInfo: true

    rfid:
      enabled: false
      chipVerification:
        enabled: false
      pkdPaPath: "/app/pkdPa"
      paSensitiveCodes: []
      persistence:
        # Enable persistent volume for storing PKD masterlists files
        enabled: false
        accessMode: ReadWriteMany
        storageClassName: ~
        existingClaim: ~


  service:
    webServer:
      port: 8080
      workers: 1
      timeout: 30

      demoApp:
        enabled: true
        webComponent:
          enabled: false

      cors:
        origins: "*"
        headers: "*"
        methods: "POST,PUT,GET,DELETE,PATCH,HEAD,OPTIONS"

      logging:
        level: "INFO"
        formatter: text

        access:
          console: true
          path: "logs/access/docreader-access.log"
        app:
          console: true
          path: "logs/app/docreader-app.log"

      metrics:
        enabled: false

      # We recommend to expose service to public via Ingress
      ssl:
        enabled: false
        # If enabled, supply the name of existing secret with key/cert files.
        # You can load it to a k8s tls secret via the following command:
        # `kubectl create secret tls certificates --key="tls.key" --cert="tls.crt"`
        # certificatesSecretName: certificates
        certificatesSecretName: ~
        # Specifies the version of the TLS (Transport Layer Security) protocol to use for secure connections within the application.
        # String type, accepts the following available versions of TLS: 1.0, 1.1, 1.2, 1.3
        tlsVersion: 1.2

    storage:
      type: fs
      # s3:
      #   accessKey: <AWS_ACCESS_KEY_ID>
      #   accessSecret: <AWS_SECRET_ACCESS_KEY>
      #   region: "us-east-1"
      #   secure: true
      #   endpointUrl: "https://s3.amazonaws.com"
      #   #  awsCredentialsSecretName overrides storage.s3.accessKey/s3.accessSecret values
      #   #  Supply the name of existing secret with AWS_ACCESS_KEY_ID/AWS_SECRET_ACCESS_KEY keys.
      #   #  You can load it to a k8s generic secret via the following command:
      #   #  `kubectl create secret generic aws-credentials -n <namespace> --from-literal=AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID> --from-literal=AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>`
      #   awsCredentialsSecretName: ~
      # gcs:
      #   #  Supply the name of existing secret with service account key gcs.json file.
      #   # You can load it to a k8s generic secret via the following command:
      #   #  `kubectl create secret generic gcs-credentials -n <namespace> --from-file=gcs_key.json=<path_to_key>`
      #   gcsKeyJsonSecretName: ~
      # az:
      #   connectionString: "<AZURE_STORAGE_CONNECTION_STRING>"
      #   #  connectionStringSecretName overrides storage.az.connectionString value
      #   #  Supply the name of existing secret with AZURE_STORAGE_CONNECTION_STRING key.
      #   #  You can load it to a k8s generic secret via the following command:
      #   #  `kubectl create secret generic az-credentials -n <namespace> --from-literal=AZURE_STORAGE_CONNECTION_STRING="<AZURE_STORAGE_CONNECTION_STRING>"`
      #   connectionStringSecretName: ~

    database:
      connectionString: ~
      # #  connectionStringSecretName overrides database.connectionString value
      # #  Supply the name of existing secret with SQL_CONNECTION_STRING key.
      # #  You can load it to a k8s generic secret via the following command:
      # #  `kubectl create secret generic database-credentials -n <namespace> --from-literal=SQL_CONNECTION_STRING=<SQL_CONNECTION_STRING>`
      # connectionStringSecretName: ~
      # connectionString examples:
      # connectionString: postgresql://<username>:<password>@127.0.0.1:5432/regula_docreader_db
      # connectionString: mysql://username>:<password>@127.0.0.1:5432/regula_docreader_db
      # connectionString: mariadb+pymysql:/username>:<password>@127.0.0.1:3306/regula_docreader_db
      # connectionString: mysql+pymysql://username>:<password>@127.0.0.1:3306/regula_docreader_db
      # connectionString: sqlite:///opt/regula/docreader/regula_docreader.db

    processing:
      enabled: true
      results:
        saveResult: false
        location:
          folder: "/app/docreader-processing/results"
          # bucket: docreader-processing # storage type s3/gcs
          # container: docreader-processing # storage type az
          prefix: "results"
        # Persistece is only applicable for the fs storage type
        persistence:
          # Enable persistent volume for storing processing results
          enabled: false
          accessMode: ReadWriteMany
          size: 10Gi
          storageClassName: ~
          existingClaim: ~

    sessionApi:
      enabled: false
      transactions:
        location:
          folder: "/app/docreader-session-api/transactions"
          # bucket: docreader-session-api # storage type s3/gcs
          # container: docreader-session-api # storage type az
          prefix: "transactions"
        # Persistence is only applicable for the fs storage type
        persistence:
          # Enable persistent volume for storing transactions data
          enabled: false
          accessMode: ReadWriteMany
          size: 10Gi
          storageClassName: ~
          existingClaim: ~

env: []
# - name: ""
#   value: ""

# Mount additional volumes into docreader pod.
extraVolumes: []
extraVolumeMounts: []

service:
  type: ClusterIP
  port: 80
  ## service annotations
  annotations: {}
  # Optionally assign a known public LB IP
  # loadBalancerIP: ~
  # LoadBalancerSourcesRange is a list of allowed CIDR values, which are combined with ServicePort to
  # set allowed inbound rules on the security group assigned to the master load balancer
  # loadBalancerSourceRanges:
  #   - "10.123.0.0/16"
  loadBalancerSourceRanges: []

ingress:
  enabled: false
  # The Ingress Class for the web Ingress (used only with Kubernetes v1.19 and above)
  # className: ""

  annotations: {}

  # The hostnames or hosts configuration for the web Ingress
  hosts: []
    # - docreader.domain.com
  paths: []
    # - path: /
  pathType: Prefix

  # TLS configuration for the Docreader Ingress
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

networkPolicy:
  enabled: false
  annotations: {}
  ingress: {}
    # # allow ingress traffic from local namespace only
    # - from:
    #   - namespaceSelector:
    #       matchLabels:
    #         kubernetes.io/metadata.name: put-your-namespace-here
  egress: {}
    # # allow egress traffic to local namespace only
    # - to:
    #   - namespaceSelector:
    #       matchLabels:
    #         kubernetes.io/metadata.name: put-your-namespace-here
    # # allow DNS resolution
    # - ports:
    #   - protocol: UDP
    #     port: 53
    # # allow traffic to lic.regulaforensics.com and lic2.regulaforensics.com
    # - ports:
    #   - protocol: TCP
    #     port: 443
    #   to:
    #     - ipBlock:
    #         cidr: 3.33.212.24/32
    #     - ipBlock:
    #         cidr: 15.197.254.180/32
    #     - ipBlock:
    #         cidr: 34.96.77.73/32

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # The name of service account to create.
  name: ~
  # Annotations to add to the service account
  annotations: {}

rbac:
  create: false
  annotations: {}
  # Use an existing Role
  # useExistingRole: name-of-some-role
  extraRoleRules: []
  # - apiGroups: []
  #   resources: []
  #   verbs: []

serviceMonitor:
  # Set this to `true` to create ServiceMonitor for Prometheus operator
  enabled: false
  namespace: ~
  interval: "30s"
  scrapeTimeout: "10s"
  # Additional labels that can be used so ServiceMonitor will be discovered by Prometheus
  additionalLabels: {}

livenessProbe:
  enabled: true
  initialDelaySeconds: 30
  periodSeconds: 20
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 5

readinessProbe:
  enabled: true
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 5

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: ~

###################################
# Subcharts
###################################

# NOTE
# The subcharts are used for the demonstration and Dev/Test purposes.
# We strongly recommend to deploy separate installations of the DB in Production.

# Configuration for postgresql subchart
# For the advanced PostgreSQL configuration please referer to the official documentation.
# ref: https://github.com/bitnami/charts/tree/main/bitnami/postgresql
postgresql:
  enabled: false
  auth:
    username: "regula"
    password: "Regulapasswd#1"
    database: "regula"
