{{- if or .Values.podDisruptionBudget.enabled .Values.autoscaling.enabled }}
kind: PodDisruptionBudget
apiVersion: policy/v1
metadata:
  name: {{ include "faceapi.fullname" . }}
  labels:
    {{- include "faceapi.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
  {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels: {{- include "faceapi.selectorLabels" . | nindent 6 }}
  {{- toYaml .Values.podDisruptionBudget.config | nindent 2 }}
{{- end }}
